#clients{
	background-color: #E5EEF0;
}
#clients .col-md-7 {
	p:first-child{
		font-size:30px;
		margin-top:100px;
	}
	p:nth-child(2){
		font-size: 18px;
	}
	img{
		float: left;
		margin-top: 60px;
	}
	p:nth-child(4){
		margin: 60px 0 40px 40px;
		float:left;
		width: 500;
	}
	p:nth-child(5){
		clear: both;
		margin-left: 90px;
	}
	p:nth-child(6){
		margin-left: 90px;
		color:$narinci;
	}
}

#clients .col-md-5{
	text-align: center;
	.big {
		margin: 200px auto 20px auto;
		width: 450px;
		overflow: auto;
		text-align: center;
		div{
			float: left;
			width: 130px;
			height: 130px;
			border-radius: 50%;
			background-color: $tundboz;
			margin: 0 9px;
		}
		div:hover{
			background: $narinci;
		}
	}
	.small{
		clear: both;
		margin: 20px auto 105px auto;
		width: 100px;
		overflow: auto;
		text-align: center;;
		div{
			
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: $tundboz;
			float: left;
			margin:0 5px;
		}
		div:hover{
			background-color: $goy;
		}
	}
}